.navbar {
  padding: 0rem 1rem;
}

.login__btn {
  height: inherit;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: white;
}

/* .login__btn:hover, .dropdown-toggle:hover {
  color: white;
  background-color: #555;
  text-decoration: none;
} */
.dropdown-menu {
  margin: 0;
}

.dropdown-toggle:focus {
  box-shadow: none !important;
}
/* .dropdown:hover .dropdown-menu {
  position: absolute;
  display: block;
  margin: 0;
} */

hr {
  margin: 0;
}

.dropdown-toggle {
  padding: .6rem .75rem;
  border-radius: 0;
  color: white;
}

/* .dropdown-menu:active {
  display: none;
} */