.info-title {
  color: rgb(255, 110, 58);
}

.information__wrapper {
  font-size: 0.9em;
}

.novel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userRating {
  display: flex;
  align-items: center;
}

.userRating>span {
  font-size: 1.3em;
  margin-right: 15px;
}

.chapters-wrapper>a:hover {
  background-color: #f8f9fa;
}

.chapters-wrapper {
  font-size: 0.95em;
}

.section-title {
  background-color: #e3eaf1;
  border-left: 10px solid #c8d1db;
  padding: 6px;
}